@charset "UTF-8";

@import url('reset.css');

body
{
    background-color: map-get($colors,'dm-brand');
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}